* text=auto !eol
library/IHE.bak -text
library/IHE.bck -text
library/IHE.dcm -text
library/IHE.lib -text
library/IHE.mod -text
library/MCP23017.dcm -text
library/MCP23017.lib -text
library/arduino.lib -text
library/arduino.mod -text
library/atmega32u4bb-from_eagle.bak -text
library/atmega32u4bb-from_eagle.bck -text
library/atmega32u4bb-from_eagle.dcm -text
library/atmega32u4bb-from_eagle.lib -text
library/micro-philips.lib -text
library/micro-philips.mod -text
library/numato_kicad_lib.dcm -text
library/numato_kicad_lib.lib -text
library/numato_kicad_lib.mod -text
/mls800-cache.lib -text
/mls800.bak -text
/mls800.cmp -text
/mls800.kicad_pcb -text
/mls800.net -text
/mls800.pro -text
/mls800.sch -text
/mls800_display.bak -text
/mls800_display.sch -text
/mls800_loops.bak -text
/mls800_loops.sch -text
/mls800_misc.bak -text
/mls800_misc.sch -text
/noname-cache.lib -text
